@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #bcc8da;
    --cor-secundaria: #042f3d;
    --cor-terciaria: #f6dc86;
    --cor-quartenaria: #07495f;
    --cor-hover: #0A3871;
    --cor-decripto: #D8DFE8;
    --fonte-principal: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--cor-terciaria);
    
}
/* cabecalho do texto */

.cabecalho {
    display: flex;
    padding: 30px 80px 70px;
    flex-direction: row;
    align-items: center;
}

.cabecalho_logo  {
    width: 175px;
    height: 80px;
}
.cabecalho_menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    transform: translate(740%);
}
.cabelho_menu_link{
    display: flex;
    justify-content: flex-end;
    width: 80px;
    height: 35px;
    cursor: pointer;
    gap: 10px;
}

.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apresentacao_botao {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px;
    margin-top: 8%;
    margin-left: 11%;
    gap: 10px;
    
}
    
    


.imagem_exclamacao_texto {
    font-size: 1rem;

    
}

.img_exclamacao {
    width: 4%;
    margin-right: 4px;

}


.apresentacao_esquerda {
    width: 55%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#campoTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 56%;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    /*colocar var aqui */
    font-family: var(--fonte-principal);
}

textarea::placeholder {
    color: var(--cor-hover);
    font-size: 32px;
}
/*caixa de texto criptografia */
#texto {
    font-size: 1.4rem;
    color: var(--cor-secundaria);
}

#texto2 {
    font-size: 1.1rem;
    color: var(--cor-secundaria);
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}



.botao_cripto {
    background: var(--cor-hover);
    display: flex;
    justify-content: center;
    width: 328px;
    height: 67px;
    border: 2px none var(--cor-hover);
    border-radius: 24px;
    text-align: center;
    align-items: center;
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    padding: 24px;
    text-decoration: none;
    cursor: pointer;
    gap: 15px;
}

.botao_descripto {
    background: var(--cor-decripto);
    display: flex;
    justify-content: center;
    width: 328px;
    height: 67px;
    border: 2px none var(--cor-hover);
    border-radius: 24px;
    text-align: center;
    align-items: center;
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    padding: 24px;
    text-decoration: none;
    cursor: pointer;
    gap: 15px;
}

.botao_cripto:hover {
    transform: scale(1.1);
    transition: 1.2ms;
}
.botao_descripto:hover {
    transform: scale(1.1);
    transition: 1.2ms;
}

.apresentacao_direita {
    align-items: center;
    width: 30%;
    height: 625px;
    background: var(--cor-quartenaria);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    
}

.imagem_person {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin: 10px;
}



#botaoCopiar {
    font-size: 1.2rem;
    color: var(--cor-secundaria);
}

#limparCampo {
    font-size: 1.2rem;
    color: var(--cor-secundaria);
}

.limpar_campo {
    background: var(--cor-decripto);
    display: flex;
    justify-content: center;
    width: 328px;
    height: 67px;
    border: 2px none var(--cor-hover);
    border-radius: 24px;
    text-align: center;
    align-items: center;
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 500;
    padding: 32px;
    text-decoration: none;
    cursor: pointer;
    gap: 20px;
    margin: 30px;
}
.botao_copiar {
    background: var(--cor-decripto);
    display: flex;
    justify-content: center;
    width: 328px;
    height: 67px;
    border: 2px none var(--cor-hover);
    border-radius: 24px;
    text-align: center;
    align-items: center;
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 500;
    padding: 32px;
    text-decoration: none;
    cursor: pointer;
    gap: 20px;
    margin: 30px;
}

.botao_copiar:hover {
    transform: scale(1.1);
    transition: 1.2ms;
}
/*criar rodape */

.rodape {
    padding: 30px;
    text-align: center;
    background-color:var(--cor-hover); /* Cor de fundo do rodapé */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rodape_txt {
    color:var(--cor-primaria); /* Cor do texto do rodapé */
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
}


